<div class="container-fluid">
  <!--Navbar-->
  <div class="row bg-secondary" style="height:55px; position: sticky; top: 0; z-index:9999;">
    <div class="col-3 text-light make-left beautify">
      {{title}}
    </div>
  </div>

  <!--Input Block-->
  <div class="row">
    <div class="col-3"></div>
    <!--Screen Center-->
    <div class="col-6 alert-secondary rounded p-4">
      <div class="card">
        <h5 class="card-header h6">Create Post</h5>
        <div class="card-body">
          <textarea [(ngModel)]="post.postValue" class="form-control textAreaTxtFont" cols="100" rows="2" placeholder="Write something here..."></textarea>
        </div>
        <div class="card-footer pb-1">
          <a href="#" class="badge badge-pill badege-info badge-primary ml-1 mediumFont cursorPointer" (click)="postText();">Post Text</a>
          <label class="badge badge-pill badge-info ml-1 mediumFont cursorPointer">
            Post Image<input type="file" (change)="postImage($event)" style="display: none;" />
          </label>
          <label class="badge badge-pill badge-success badge-primary ml-1 mediumFont cursorPointer">
            Post Video<input type="file" (change)="postVideo($event)" style="display: none;" />
          </label>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

  <!--Main Section Continer-->
  <div class="row mt-2">
    <div class="col-3"></div>
    <!--Parent section for block-->
    <div class="col-6">
      <ng-container *ngFor="let item of postList; let itemIndex = index;">
      <!--Each card will represent one block - Text Card-->
      <div *ngIf="item.postType == 'TEXT'" class="card mt-1">
        <div class="card-header">Text Block</div>
        <!--Card body section is dynamic-->
        <div class="card-body pb-0">
          <div class="make-center beautify-post">
              {{item.postValue}}
          </div>
          <div class="d-flex justify-content-between">
            <span class="text-muted badge-light rounded smallFont p-1">{{item.likeCount}} Prabhuram and Others</span>
            <span class="text-muted badge-light rounded smallFont p-1">{{item.subscribeCount}} Subscribed</span>
            <span class="text-muted badge-light rounded smallFont p-1">{{item.commentList.length}} Comments</span>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between pb-1">
          <div>
            <a href="#" class="badge badge-pill badge-primary ml-1" (click)="likeCount(item)">Like</a>
            <a href="#" class="badge badge-pill badge-info ml-1" (click)="subscribeCount(item)">Subscribe</a>
            <a href="#" class="badge badge-pill badge-success ml-1" (click)="addComment(item)">Comment</a>
          </div>
          <div>
              <a href="#" class="badge badge-pill badge-primary ml-1">Update</a>
              <a href="#" class="badge badge-pill badge-danger ml-1" (click)="deletePost(itemIndex)">Delete</a>
          </div>
        </div>
      </div>

      <!--Image Card-->
      <div *ngIf="item.postType == 'IMAGE'" class="card mt-2">
          <div class="card-header">Card-2</div>
          <!--Card body section is dynamic-->
          <div class="card-body pb-0">
            <div class="make-center heightClass">
                  <img class="imgDimensions" [src]="sanitizer.bypassSecurityTrustUrl(item.postValue)" alt="" />
            </div>
            <div class="d-flex justify-content-between">
                <span class="text-muted badge-light rounded smallFont p-1">{{item.likeCount}} Prabhuram and Others</span>
                <span class="text-muted badge-light rounded smallFont p-1">{{item.subscribeCount}} Subscribed</span>
                <span class="text-muted badge-light rounded smallFont p-1">{{item.commentList.length}} Comments</span>
              </div>
          </div>
          <div class="card-footer d-flex justify-content-between pb-1">
              <div>
                  <a href="#" class="badge badge-pill badge-primary ml-1" (click)="likeCount(item)">Like</a>
                  <a href="#" class="badge badge-pill badge-info ml-1" (click)="subscribeCount(item)">Subscribe</a>
                  <a href="#" class="badge badge-pill badge-success ml-1" (click)="addComment(item)">Comment</a>
                </div>
                <div>
                    <a href="#" class="badge badge-pill badge-primary ml-1">Update</a>
                    <a href="#" class="badge badge-pill badge-danger ml-1" (click)="deletePost(itemIndex)">Delete</a>
                </div>
          </div>
        </div>

            <!--Video Card-->
      <div *ngIf="item.postType == 'VIDEO'" class="card mt-2">
          <div class="card-header">Card-2</div>
          <!--Card body section is dynamic-->
          <div class="card-body pb-0">
            <div class="make-center heightClass">
                  <video style="width:100%; height: 100%; object-fit: contain;" controls>
                    <source [src]="sanitizer.bypassSecurityTrustUrl(item.postValue)">
                  </video>
            </div>
            <div class="d-flex justify-content-between">
                <span class="text-muted badge-light rounded smallFont p-1">{{item.likeCount}} Prabhuram and Others</span>
                <span class="text-muted badge-light rounded smallFont p-1">{{item.subscribeCount}} Subscribed</span>
                <span class="text-muted badge-light rounded smallFont p-1">{{item.commentList.length}} Comments</span>
              </div>
          </div>
          <div class="card-footer d-flex justify-content-between pb-1">
              <div>
                  <a href="#" class="badge badge-pill badge-primary ml-1" (click)="likeCount(item)">Like</a>
                  <a href="#" class="badge badge-pill badge-info ml-1" (click)="subscribeCount(item)">Subscribe</a>
                  <a href="#" class="badge badge-pill badge-success ml-1" (click)="addComment(item)">Comment</a>
                </div>
                <div>
                    <a href="#" class="badge badge-pill badge-primary ml-1">Update</a>
                    <a href="#" class="badge badge-pill badge-danger ml-1" (click)="deletePost(itemIndex)">Delete</a>
                </div>
          </div>
        </div>
      </ng-container>

      <!--No Post Available-->
      <div class="card" *ngIf="postList.length === 0">
        <div class="card-header">

        </div>
        <div class="card-body make-center" style="height: 250px;">
          NO POST Available
          </div>
          <div class="card-footer">
          
            </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>